.callsInWork{
  margin-top: 20px;
  max-height: 41vh;
  overflow-y: scroll;
}

.calls{
  max-height: 41vh;
  overflow-y: scroll;
}

.callInput{
  letter-spacing: 1px;

  &::placeholder{
    letter-spacing: 1px !important;
  }
}

.addCall{
  display: flex;
  flex-direction: row;

  input{
    width: 210px;
    margin-right: 8px;
  }
}