.users{
  //margin: 16px;
  //border: 1px solid #eee;
  border-radius: 4px;
}

.test{
  background: #eee;
}

.checkbox{
  display: block;
}

.modal > div{
  display: block;
  margin-left: 0;
}

.tableButton{
  margin-right: 8px;
}