.users{
  //margin: 16px;
  //border: 1px solid #eee;
  border-radius: 4px;
}

.usersTable{

  table{
    width: auto !important;
  }
}

.test{
  background: #eee;
}

.checkbox{
  display: block;
}

.modal > div{
  display: block;
  margin-left: 0;
  //margin-bottom: 4px;
}

.tableButton{
  margin-right: 8px;
}

.select{
  display: block !important;
  //width: 120px;
}